

.background{
    background-image: url("https://farm4.static.flickr.com/3712/14288859575_9799c89b08_b.jpg");
    width: 100%;
}

button{
    border-radius: 5px;
    margin-bottom: 5px;
    font-style:;
    font-family: 'Abel', Helvetica, sans-serif;
}


table{
    width: 1000px;
}

.new-recipe{
    margin: auto;
    display: block;
}

.info{
    margin-top: 100px;
    height: 1000px;
}



th{
    font-size: 20px;
}